<form action="{% url 'repositories:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

{% if repository_list %}
    <ul>
        {% for repository in repository_list %}
            <li><a href="{% url 'repositories:detail' repository.id %}">{{ repository.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <form action="{% url 'repositories:login' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Log In">
    </form>
{% endif %}

